# Required Tasks

## Visualize US Accidents Dataset
    This is a countrywide traffic accident dataset, which covers 49 states of the United States. The purpose of this task is to visualize the dataset states wise.

## The state that has the highest number of accidents
    Task Details
    Which US state has the highest number of accidents, and a description of the accidents that usually occur in that state.
    Expected Submission
    A notebook that shows the state with the highest number of accidents and the main cause of the accidents in that state.
    Evaluation
    All states should be ranked with the first one being the state with the highest accidents. This is done for better comparisons and to provide a more detailed solution.

## At what time do accidents usually occur in the US
    Task Details
    Figure out the time that accidents usually occur in the US. This can be done by using the "start time" and "end time" columns.
    Expected Submission
    A notebook that outputs the time that accidents usually occur.
    Evaluation
    A proper ranking of the times that accidents occur. The time that accidents usually occur should be at the top of the list together with the number of times accidents occurred during that specific time. Other times at lower ranks should follow. This is done to provide a more detailed solution.

## Predict the location of the accident

## Factors Affecting Accident Severity
    Examine the relationship between accident severity and other accident information such as time, weather, and location.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
data_dir = r'C:\Users\alexa\Documents\GeorgiaTech\Classes\Year4\CS4641'
datasets = os.listdir(data_dir)
df = pd.read_csv(data_dir + '\\' + datasets[0])

# df = pd.read_csv('/kaggle/input/us-accidents/US_Accidents_Dec19.csv')
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
df.dtypes

ID                        object
Source                    object
TMC                      float64
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [5]:
# Obtaining all the possible numeric columns
df.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.246264e+06,2.974335e+06,2.974335e+06,2.974335e+06,728071.000000,728071.000000,2.974335e+06,1.056730e+06,2.918272e+06,1.121712e+06,2.915162e+06,2.926193e+06,2.908644e+06,2.533495e+06,975977.000000
mean,2.078316e+02,2.360190e+00,3.649361e+01,-9.542625e+01,37.580871,-99.976032,2.855654e-01,5.837004e+03,6.235120e+01,5.132685e+01,6.540542e+01,2.983190e+01,9.150770e+00,8.298064e+00,0.020495
std,2.032959e+01,5.414733e-01,4.918849e+00,1.721881e+01,5.004757,18.416647,1.548392e+00,1.515928e+04,1.878855e+01,2.519127e+01,2.255676e+01,7.213808e-01,2.892114e+00,5.138546e+00,0.235770
min,2.000000e+02,1.000000e+00,2.455527e+01,-1.246238e+02,24.570110,-124.497829,0.000000e+00,0.000000e+00,-7.780000e+01,-6.590000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2.010000e+02,2.000000e+00,3.355040e+01,-1.172920e+02,33.957554,-118.286610,0.000000e+00,8.370000e+02,5.000000e+01,3.200000e+01,4.900000e+01,2.982000e+01,1.000000e+01,4.600000e+00,0.000000
50%,2.010000e+02,2.000000e+00,3.584969e+01,-9.025083e+01,37.903670,-96.631690,0.000000e+00,2.717000e+03,6.440000e+01,5.400000e+01,6.700000e+01,2.998000e+01,1.000000e+01,7.000000e+00,0.000000
75%,2.010000e+02,3.000000e+00,4.037026e+01,-8.091891e+01,41.372630,-82.323850,1.000000e-02,7.000000e+03,7.600000e+01,7.300000e+01,8.400000e+01,3.011000e+01,1.000000e+01,1.040000e+01,0.000000
max,4.060000e+02,4.000000e+00,4.900220e+01,-6.711317e+01,49.075000,-67.109242,3.336300e+02,9.999997e+06,1.706000e+02,1.150000e+02,1.000000e+02,3.304000e+01,1.400000e+02,8.228000e+02,25.000000

In [7]:
#We can make the start and End Times real datetime columns
df['Start_Time'] = pd.to_datetime(df['Start_Time'])
df['End_Time'] = pd.to_datetime(df['End_Time'])
df.dtypes

ID                               object
Source                           object
TMC                             float64
Severity                          int64
Start_Time               datetime64[ns]
End_Time                 datetime64[ns]
Start_Lat                       float64
Start_Lng                       float64
End_Lat                         float64
End_Lng                         float64
Distance(mi)                    float64
Description                      object
Number                          float64
Street                           object
Side                             object
City                             object
County                           object
State                            object
Zipcode                          object
Country                          object
Timezone                         object
Airport_Code                     object
Weather_Timestamp                object
Temperature(F)                  float64
Wind_Chill(F)                   float64
Humidity(%)                     float64
Pressure(in)                    float64
Visibility(mi)                  float64
Wind_Direction                   object
Wind_Speed(mph)                 float64
Precipitation(in)               float64
Weather_Condition                object
Amenity                            bool
Bump                               bool
Crossing                           bool
Give_Way                           bool
Junction                           bool
No_Exit                            bool
Railway                            bool
Roundabout                         bool
Station                            bool
Stop                               bool
Traffic_Calming                    bool
Traffic_Signal                     bool
Turning_Loop                       bool
Sunrise_Sunset                   object
Civil_Twilight                   object
Nautical_Twilight                object
Astronomical_Twilight            object
dtype: object

In [8]:
#Lets identify columns with Nulls and NaNs.

df.isnull().sum()

ID                             0
Source                         0
TMC                       728071
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  2246264
End_Lng                  2246264
Distance(mi)                   0
Description                    1
Number                   1917605
Street                         0
Side                           0
City                          83
County                         0
State                          0
Zipcode                      880
Country                        0
Timezone                    3163
Airport_Code                5691
Weather_Timestamp          36705
Temperature(F)             56063
Wind_Chill(F)            1852623
Humidity(%)                59173
Pressure(in)               48142
Visibility(mi)             65691
Wind_Direction             45101
Wind_Speed(mph)           440840
Precipitation(in)        1998358
Weather_Condition          65932
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                93
Civil_Twilight                93
Nautical_Twilight             93
Astronomical_Twilight         93
dtype: int64

In [ ]:
df.isna().sum()

In [9]:
#Cleanup some columns by removing Nulls or Filling NaNs
#Define a funcation impute median
def impute_median(series):
    return series.fillna(series.median())

def impute_mean(series):
    return series.fillna(series.mean())

In [10]:
df.End_Lat = df['End_Lat'].transform(impute_median)
df.End_Lng = df['End_Lng'].transform(impute_median)
df.TMC = df['TMC'].transform(impute_median)
df.Number = df['Number'].transform(impute_mean)
df['Temperature(F)'] = df['Temperature(F)'].transform(impute_median)
df['Wind_Chill(F)'] = df['Wind_Chill(F)'].transform(impute_median)
df['Humidity(%)'] = df['Humidity(%)'].transform(impute_median)
df['Pressure(in)'] = df['Pressure(in)'].transform(impute_median)
df['Visibility(mi)'] = df['Visibility(mi)'].transform(impute_median)
df['Wind_Speed(mph)'] = df['Wind_Speed(mph)'].transform(impute_median)
df['Precipitation(in)'] = df['Precipitation(in)'].transform(impute_median)
df.isnull().sum()

ID                           0
Source                       0
TMC                          0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                      0
End_Lng                      0
Distance(mi)                 0
Description                  1
Number                       0
Street                       0
Side                         0
City                        83
County                       0
State                        0
Zipcode                    880
Country                      0
Timezone                  3163
Airport_Code              5691
Weather_Timestamp        36705
Temperature(F)               0
Wind_Chill(F)                0
Humidity(%)                  0
Pressure(in)                 0
Visibility(mi)               0
Wind_Direction           45101
Wind_Speed(mph)              0
Precipitation(in)            0
Weather_Condition        65932
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset              93
Civil_Twilight              93
Nautical_Twilight           93
Astronomical_Twilight       93
dtype: int64

In [11]:
#Modes of categorical values
print(df['Weather_Condition'].mode())
print(df['Astronomical_Twilight'].mode())
print(df['Nautical_Twilight'].mode())
print(df['Weather_Timestamp'].mode())
print(df['Civil_Twilight'].mode())
print(df['Sunrise_Sunset'].mode())
print(df['Wind_Direction'].mode())
print(df['City'].mode())
print(df['Zipcode'].mode())
print(df['Airport_Code'].mode())
print(df['Timezone'].mode())
print(df['Description'].mode())

0    Clear
dtype: object
0    Day
dtype: object
0    Day
dtype: object
0    2019-09-17 07:53:00
1    2019-09-24 07:53:00
dtype: object
0    Day
dtype: object
0    Day
dtype: object
0    Calm
dtype: object
0    Houston
dtype: object
0    91706
dtype: object
0    KMCJ
dtype: object
0    US/Eastern
dtype: object
0    At I-15 - Accident.
dtype: object

In [12]:
df['Weather_Condition'].fillna(str(df['Weather_Condition'].mode().values[0]), inplace=True)
df['Astronomical_Twilight'].fillna(str(df['Astronomical_Twilight'].mode().values[0]), inplace=True)
df['Nautical_Twilight'].fillna(str(df['Nautical_Twilight'].mode().values[0]), inplace=True)
df['Weather_Timestamp'].fillna(str(df['Weather_Timestamp'].mode().values[0]), inplace=True)
df['Weather_Timestamp'] = pd.to_datetime(df['Weather_Timestamp'])
df['Civil_Twilight'].fillna(str(df['Civil_Twilight'].mode().values[0]), inplace=True)
df['City'].fillna(str(df['City'].mode().values[0]), inplace=True)
df['Sunrise_Sunset'].fillna(str(df['Sunrise_Sunset'].mode().values[0]), inplace=True)
df['Wind_Direction'].fillna(str(df['Wind_Direction'].mode().values[0]), inplace=True)
df['Zipcode'].fillna(str(df['Zipcode'].mode().values[0]), inplace=True)
df['Airport_Code'].fillna(str(df['Airport_Code'].mode().values[0]), inplace=True)
df['Timezone'].fillna(str(df['Timezone'].mode().values[0]), inplace=True)
df['Description'].fillna(str(df['Description'].mode().values[0]), inplace=True)
df.isnull().sum()

ID                       0
Source                   0
TMC                      0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Number                   0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

## Aggregation and Groupby Analysis of cleaned data

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
#Add day's column in our data.
df['day'] = df['Start_Time'].dt.day
#Add Week_day column in the data.
df['weekday'] = df['Start_Time'].dt.weekday
#Add Month column in the data.
df['month'] = df['Start_Time'].dt.month
#Add Hour column in the data.
df['hour'] = df['Start_Time'].dt.hour

# Analyse Accident Number due to Weather Conditions.

In [ ]:

Result1 = df.groupby('Weather_Condition').count()
Result1

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents due to Weather_Conditions')
plt.bar(Result1.index, Result1.Number, color='r')
plt.xlabel('Weather Conditions')
plt.ylabel('Number of Accidents')
plt.xticks(Result1.index, rotation='vertical', size=10)
plt.show()

# **At what time do accidents usually occur in the US**
***Task Details***
Figure out the time that accidents usually occur in the US. This can be done by using the "start time" and "end time" columns.

***Expected Submission***
A notebook that outputs the time that accidents usually occur.

***Evaluation***
A proper ranking of the times that accidents occur. The time that accidents usually occur should be at the top of the list together with the number of times accidents occurred during that specific time. Other times at lower ranks should follow. This is done to provide a more detailed solution.

## Analyse Accident Number Per Day of the Month.

In [ ]:
Result2 = df.groupby('day').count()
Result2

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents per day of the Month')
plt.bar(Result2.index, Result2.Number, color='b')
plt.xlabel('Days of the Month')
plt.ylabel('Number of Accidents')
plt.xticks(Result2.index, rotation='vertical', size=8)
plt.show()

In [ ]:
print('The Day of the Month when accidents usually occur the Most in the US? : ',Result2.Number.idxmax())
Result2['Number'].sort_values(ascending=False)

# Analyse Accident Number Per Day of the Week

In [ ]:
Result3 = df.groupby('weekday').count()
Result3

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents per day of the Week')
plt.bar(Result3.index, Result3.Number, color='g')
plt.xlabel('Days of the Week')
plt.ylabel('Number of Accidents')
plt.xticks(Result3.index, rotation='vertical', size=8)
plt.show()

In [ ]:
print('The Weekday when accidents usually occur the Most in the US? : ',Result3.Number.idxmax())
Result3['Number'].sort_values(ascending=False)

# Analysis of  Accident Number per Hour of the day

In [ ]:
Result9 = df.groupby('hour').count()
Result9

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents per Hour of the day')
plt.bar(Result9.index, Result9.Number, color='r')
plt.xlabel('Hours of the day')
plt.ylabel('Number of Accidents')
plt.xticks(Result9.index, rotation='vertical', size=20)
plt.show()

# Analyse Accident Number Per Month.

In [ ]:
Result8 = df.groupby('month').count()
Result8

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents Per Month')
plt.bar(Result8.index, Result8.Number, color='r')
plt.xlabel('Month')
plt.ylabel('Number of Accidents')
plt.xticks(Result8.index, rotation='vertical', size=15)
plt.show()

In [ ]:
print('The Month when accidents usually occur the Most in the US? : ',Result8.Number.idxmax())
Result8['Number'].sort_values(ascending=False)

## Ans to the Time Question

In [ ]:
print('At what time do accidents usually occur in the US? : ',Result9.Number.idxmax())

In [ ]:
#A proper ranking of the times that accidents occur. The time that accidents usually occur should be at the top of the list together... 
#with the number of times accidents occurred during that specific time. Other times at lower ranks should follow. 
#This is done to provide a more detailed solution.

Result9['Number'].sort_values(ascending=False)

# Visualize US Accidents Dataset
    This is a countrywide traffic accident dataset, which covers 49 states of the United States. The purpose of this task is to visualize the dataset states wise.

### Analysis of Accident Number Per State

In [ ]:
Result4 = df.groupby('State').count()
Result4

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents per State')
plt.bar(Result4.index, Result4.Number, color='g')
plt.xlabel('States')
plt.ylabel('Number of Accidents')
plt.xticks(Result4.index, rotation='vertical', size=10)
plt.show()

### All states should be ranked with the first one being the state with the highest accidents. This is done for better comparisons and to provide a more detailed solution.

In [ ]:
print('The State where accidents usually occur the Most in the US? : ',Result4.Number.idxmax())
print('The Rank of Accidents state wise is:\n ',Result4['Number'].sort_values(ascending=False))

### Description of the accidents that usually occur in the state of most Accidents.

In [ ]:
df1= df[df['State']=='CA']
df1.Description.unique()

### Accidents occurance in all the 49 States

In [ ]:
#plotting the Lat against Long could show the map of the area
plt.figure(figsize=(50,30))
plt.title('Most Hits per Area')
plt.xlabel('Start Longitude')
plt.ylabel('Start Latitude')
plt.plot(df.Start_Lng, df.Start_Lat, ".", alpha=0.5, ms=1)
plt.show()

In [ ]:
#plotting the Lat against Long could show the map of the area
plt.figure(figsize=(50,30))
plt.title('Most Hits per Area')
plt.xlabel('End Longitude')
plt.ylabel('End Latitude')
plt.plot(df.End_Lng, df.End_Lat, ".", alpha=0.5, ms=1)
plt.show()

# Factors Affecting Accident Severity
    Examine the relationship between accident severity and other accident information such as time, weather, and location.

In [ ]:
Result7 = df.groupby('Severity').count()
Result7

In [ ]:
plt.figure(figsize=(5, 10))
plt.title('Number of Accidents Per Severity')
plt.bar(Result7.index, Result7.Number, color='r')
plt.xlabel('Severity')
plt.ylabel('Number of Accidents')
plt.xticks(Result7.index, rotation='vertical', size=15)
plt.show()

### Severity Relation Ships

In [ ]:
#plt.bar(df.Severity, df.hour)
#plt.show()

# Analysis of Accident Number Per County

In [ ]:
Result5 = df.groupby('County').count()
Result5

In [ ]:
plt.figure(figsize=(100, 10))
plt.title('Number of Accidents per County')
plt.bar(Result5.index, Result5.Number, color='b')
plt.xlabel('Counties')
plt.ylabel('Number of Accidents')
plt.xticks(Result5.index, rotation='vertical', size=10)
plt.show()

In [ ]:
print('The County where accidents usually occur the Most in the US? : ',Result5.Number.idxmax())
print('The Rank of Accidents County wise is:\n ',Result5['Number'].sort_values(ascending=False))

# Analyse Accident Number due to Weather Direction

In [ ]:
Result6 = df.groupby('Wind_Direction').count()
Result6

In [ ]:
plt.figure(figsize=(30, 10))
plt.title('Number of Accidents due to Wind_Directions')
plt.bar(Result6.index, Result6.Number, color='r')
plt.xlabel('Wind_Directions')
plt.ylabel('Number of Accidents')
plt.xticks(Result6.index, rotation='vertical', size=15)
plt.show()

In [ ]:
print('The Wind_Direction for which accidents usually occur the Most in the US? : ',Result6.Number.idxmax())
print('The Rank of Accidents Wind_Direction wise is:\n ',Result6['Number'].sort_values(ascending=False))

# Distribution of Latitudes and Longitudes

In [ ]:
plt.hist(df.Start_Lng, bins=31, range=(-110, -65))
plt.show()

In [ ]:
plt.hist(df.End_Lng,bins=31)
plt.show()

In [ ]:
plt.hist(df.Start_Lat, bins=31, range=(26, 49))
plt.show()

In [ ]:
plt.hist(df.End_Lat, bins=31)
plt.show()